<div class="col-sm-12">
  <div class="page-header divider">
    <h1>Hakkımda</h1>
  </div>
  <p>
    Ben yazılım mühendisliği mesleği öğrencisiyim. Işık Oyun ve Işık Sistem isimleriyle iki girişim hedefim var. Burada, fırsat buldukça öğrenmekte olduğum konular hakkında yazılar yazmaya çalışacağım.
  </p>
</div>
