<br>
<div class="col-sm-2">
  <%= link_to "Yeni Yazı", new_post_path(@post), class: "btn btn-success" %>
</div>

<div class="col-sm-12" id="stories">
  <div class="page-header divider">
    Son Yazılar
  </div>
</div>

<%= render 'posts/index' %>
