<br>
<div class="col-sm-2 geri">
  <%= link_to "Geri Dön", post_path, class: "btn btn-warning" %>
</div>
<div class="col-sm-12">
  <div class="page-header">
    <h4>Yazıyı Düzenle</h4>
  </div>
  <br>
  <%= render 'form' %>
</div>
