<h1>Yazılar</h1>
<div class="sag">
  <%= link_to "Yeni Yazı", new_post_path(@post), class: "btn btn-success" %>
</div>
<% @posts.each do |post| %>
<h2>
  <span class="tarih">
    <%= post.created_at.strftime("%B %d, %Y") %>
  </span>
  <%= link_to post.title, post %>
</h2>
<br>
<% end %>
