<br>
<div class="col-sm-2 geri">
  <%= link_to "Geri Dön", root_path, class: "btn btn-warning" %>
</div>
<div class="col-sm-12">
  <div class="page-header">
    <h2>YENİ YAZI</h2>
  </div>
  <br>
  <%= render 'form' %>
</div>
