@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background: #282931;
    -webkit-font-smoothing: antialiased;
    font-family: 'Varela Round', sans-serif;
    height: 100%;
    color: white;
}
h1 {
    line-height: 72px;
}
hr {
    margin: 0 0 0;
}
p {
    line-height: 24px;
    margin: 24px 0;
    color: #bbbbc4;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
.tarih {
    font-size: 14px;
    line-height: 24px;
    color: #fc3565;
    padding-right: 20px;
}
.sag {
  float: right;
  margin-bottom: 200px;
}
.yazi {
  text-align: justify;
}
