<div class="column col-sm-2" id="sidebar">
  <a class="logo" href="#">N.</a>
  <ul class="nav">
    <li class="active">
      <%= link_to "Blog", root_path %>
    </li>
    <li>
      <%= link_to "Hakkımda", user_path(1) %>
    </li>
    <li>
      <%= link_to "İletişim", root_path %>
    </li>
  </ul>
  <ul class="nav hidden-xs" id="footer">
    <li>
      <%= link_to "Yönetici Girişi", root_path %>
    </li>
  </ul>
</div>
